<div class="bg-image text-white flex items-center justify-center text-5xl px-5">
  <h1 class="uppercase border-2 josefin-sans-font p-8 w-full">
    immersive <br /> experiences <br /> that <br /> deliver
  </h1>
</div>

<style>
  .bg-image {
    background-image: url("../../public/mobile/image-hero.jpg");
    min-height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
</style>
