---
import Header from "./Header.astro";
---

<div class="bg-image text-white flex flex-col items-center text-4xl px-8">
  <Header />
  <h1
    class="uppercase border-2 self-center my-auto josefin-sans-font p-5 w-full"
  >
    immersive <br /> experiences <br /> that <br /> deliver
  </h1>
</div>

<style>
  .bg-image {
    background-image: url("../../public/mobile/image-hero.jpg");
    min-height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
</style>
